<div class="container">

  <div><p-button label="Click1" (click)="openPanel($event, op, 1)"></p-button></div>
  <div><p-button label="Click2" (click)="openPanel($event, op, 2)"></p-button></div>
  <div><p-button label="Click3" (click)="openPanel($event, op, 3)"></p-button></div>
  <div><p-button label="Click4" (click)="openPanel($event, op, 4)"></p-button></div>
  <div><p-button label="Click5" (click)="openPanel($event, op, 5)"></p-button></div>

</div>


<p-overlayPanel #op>

  <pre>{{panelContent}}</pre>

</p-overlayPanel>
